*{
    /* Color variables */
    --form-bg: rgb(243, 252, 255);
    --green: rgb(111, 136, 65);

    /* Spacing variables */
    --left-margin: 5%;
    --input-border-width: 2px;

    font-family: Helvetica, monospace,  sans-serif;
}

/* Zero out browser padding */
body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: space-evenly;
}

.italic{
    font-style: italic;
}

/* Left section */
.image-section{
    position: relative;
    height: 100vh;

    display: flex;
    justify-content: center;
    color: white;
}

.logo-container{
    background-color: #0008;
    font-size: 25px;
    padding:  1rem 0;

    position: absolute;
    top: 20%;
    height: 15%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin-logo{
    height: 100%;
    width: auto;

    padding: 1rem;
}

.photo-credit{
    position: absolute;
    bottom: 0;
}

.photo-credit > a:link,
.photo-credit > a:visited{
    color: white;
    text-decoration: underline;
}


/* Right section */
.form-section{
    background-color: var(--form-bg);
    flex: 4 1 0;
}

.form-description{
    margin: 10% 15% 5% var(--left-margin);
}

.form-title{
    margin-left: var(--left-margin);
    font-size: 2rem;
}

.sign-up-form{
    background-color: white;
    box-shadow: 0 10px 7px 0px rgba(0,0,0, 0.1);

    padding: 2rem 0;

    margin-bottom: 3rem;
}

.fields-container{
    width: 66%;
}

ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: var(--left-margin);
}

ul > li{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 40%;
}

ul > li > input{
    height: 2.5em;

    border-radius: 7px;
    border: var(--input-border-width) solid #0003;
}

input:focus{
    outline: var(--input-border-width) solid rgb(74, 198, 255);
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

.submit-button{
    margin-left: var(--left-margin);
    margin-bottom: 1em;

    height: 3.5rem;
    width: 20%;

    color: white;
    font-weight: bold;
    font-size: 1rem;

    background-color: var(--green);
    border: 0;
    border-radius: 5px;
}

.login-text{
    margin-left: var(--left-margin);
    font-weight: bold;
}

.login-text > a:link,
.login-text > a:visited{
    color: var(--green);
    background-color: transparent;
    text-decoration: none;
}

